/* body {
  background-color: #fffbf0 !important;
} */

.carousel {
  width:600px;
  height:auto;
}

.navbar-brand {
  color: rgb(231, 159, 26) !important;
  font-weight: 600;
}

.carousel-inner img {
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: contain;
}

.img-wrapper {
  width: 600px;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

/* Recipe Feed */
.recipe-feed .card{
  margin-top: 2rem;
}

.recipe-feed {
  margin-left: 30rem !important;
  margin-top: 4rem !important;
  overflow: scroll;
  display: flex;
}


.recipe-finder {
  /* position: fixed; */
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: .5rem;
  background-color: #fffbf0 !important;
  padding: 2rem;
}

.recipe-finder h3 {
  border-bottom: 1px solid black;
}

.recipe-group {
  display: flex;
  padding-top: 2rem;
}

.recipe-header {
  /* position: fixed !important; */
  margin-top: 4rem;
  width: 450px;
  background-color: #fffbf0 !important;
}

.left-recipe {
  display: flex;
  position: fixed;
  flex-direction: column;
}

.grocery-list {
  display: flex;
  justify-content: center;
}

.grocery-list .card {
  display: flex;
  padding: 4rem;
  background-color: #fffbf0 !important;
}

.grocery-title {
  border-bottom: 1px solid black;
}

.card-body {
  background-color: #fffbf0;
}